body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0d1117;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(to bottom, #b3a7e6, #e6eaf7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.hero h1 {
    font-size: 50px;
    margin: 5px;
}

.highlight {
    color: #7a5fc9;
}

.typing {
  border-right: 3px solid;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(20) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #7a5fc9;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

/* SECTIONS */
section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
}

/* ANIMATIONS */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* PROJECT CARDS */
.project {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0d1117;
    color: white;
}
